body {
    background-image: url("/images/background.png");
}

@keyframes opacityIntro {
    0%{
        filter: opacity(0%);
    }
    25%{
        filter: opacity(0%);
    }
    100%{
        filter: opacity(100%);
    }
}

@keyframes colorBackgroundChangeLight {
    0%{
        background-color: #ffffff;
    }
    100%{
        background-color: #f1f1f1;
    }
}

@keyframes colorBackgroundChangeDark {
    0%{
        background-color: #171717;
    }
    100%{
        background-color: #0c0c0c;
    }
}

.favoriteButton {
    font-size: 3em;
}

header {
    background-color: rgb(120, 120, 120, 0.3);
}
h1 {
    color: black;
    text-align: center;
}

.accueilPannel {
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #34BBE2;

}

.bouton {
    text-decoration: none;
    color: white;
    background-color: black;
    border: solid 7px #34BBE2;
    padding: 7px 7px 7px 7px;
    margin: 0px 20px 0px 20px;
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}

.bouton:hover {
    color: black;
    background-color: #34BBE2;
    transform: scale(1.08);
    border-color: #e6f4ff;
    box-shadow: 0 0 10px #34BBE2;
    border-radius: 10px;
}

.bouton:active {
    filter: blur(4px);
    transform: scale(0.8);
}

#theme {
    color: #8b99f5;
    border: solid 7px #2f1c9d;
}

#theme:hover {
    color: white;
    background-color: #2f1c9d;
    box-shadow: 0 0 10px #3442e2;
    border-color: #e6f4ff;
}

.connection {
    padding-top: 10px;
    padding-left: 10px;
    text-align: center;
}

.nomcompte {
    color: red;
}

.inscription {
    color: green;
}

h3 {
    color: black;
    text-align: center;
    padding-top: 10px;
}

.titreSerie {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-family: "Poppins SemiBold";
}

.listSerie {
    text-align: right;
}

.container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    text-align: center;
}

.rectangleSerie{
    background-color: #1d6c80;
    margin-bottom: 40px;
    border : 10px solid #bcd2d7;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}

.rectangleSerie:hover{
    filter: brightness(1.2);
    transform: scale(1.05);
}

.rectangleSerie img{
    border-radius: 20px;
}

#titreEpisode {
    color: black;
    text-align: center;
    margin-top: 30px;
    background-color: rgb(120, 120, 120, 0.3);
    padding: 10px 0 10px 0;
    border: solid 7px #34BBE2;
    border-radius: 10px;
    margin-bottom: 0;
}

#resumeEpisode {
    color: black;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(120, 120, 120, 0.3);
    width: 50%;
    margin-left: 25%;
    margin-top: 0;
    border: solid 7px #34BBE2;
    border-top: none;
    padding: 10px 0 10px 0;
}

video {
    padding: 0 25% 5% 25%;
    width: 50%;
}

.miseenforme {
    background-color: #b6b6b6;
    justify-self: center;
    border: solid 2px black;
    margin: auto;
}

th {
    padding: 5px 10px 5px 10px;
}

.connexionUser {
    background-color: black;
}

.logo {
    width: 200px;
    height: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
    flex-grow: 1;
}

.logo:hover {
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.5);
    transform : translateY(-5px) scale(1.02);
}

.lettre {
    margin: 0 30% 0 30%;
    padding: 30px 30px 30px 30px;
    background-color: lightgray;
}

#email {
    text-align: right;
}

#emailCorrespondants {
    text-align: left;
    background-color: grey;
    border: solid 2px dimgray;
    border-radius: 2px;
    margin-bottom: 0;
}