@keyframes colorBackgroundChangeDark {
    0%{
        background-color: #171717;
    }
    100%{
        background-color: #0c0c0c;
    }
}

p, h3, h1, h2, h3, h4, #titreEpisode, #resumeEpisode, li, label{
    color: white;
}

.logo{
    filter : invert(100%);
}

.logo:hover{
    filter : invert(90%);
}

.rectangleSerie:hover{
    box-shadow: 0 0 10px 0 rgba(255, 255, 255);
}

small{
    color: white;
}

html {
    animation: colorBackgroundChangeDark 1s infinite alternate-reverse;
}